.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  /* filtros para mejorar el video */
  filter: contrast(1.2) saturate(1.2);
}

/* Ajustes específicos para móvil */
@media (max-width: 768px) {
  .canvas {
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* se asegura de que no se deforme */
  }
}
